In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("tips.csv")

In [3]:
pd.set_option('display.max_columns',False)
df.shape

(244, 7)

In [4]:
df2_dummy=pd.get_dummies(df)
df2_dummy.shape

(244, 13)

In [5]:
df2_dummys=pd.get_dummies(df,drop_first=True)
df2_dummys

     total_bill   tip  size  sex_Male  ...  day_Sat  day_Sun  day_Thur  time_Lunch
0         16.99  1.01     2         0  ...        0        1         0           0
1         10.34  1.66     3         1  ...        0        1         0           0
2         21.01  3.50     3         1  ...        0        1         0           0
3         23.68  3.31     2         1  ...        0        1         0           0
4         24.59  3.61     4         0  ...        0        1         0           0
..          ...   ...   ...       ...  ...      ...      ...       ...         ...
239       29.03  5.92     3         1  ...        1        0         0           0
240       27.18  2.00     2         0  ...        1        0         0           0
241       22.67  2.00     2         1  ...        1        0         0           0
242       17.82  1.75     2         1  ...        1        0         0           0
243       18.78  3.00     2         0  ...        0        0         1           0

[244 rows x 9 columns]

In [6]:
df2_dummys.shape

(244, 9)

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
oh_en=OneHotEncoder(sparse=False,drop='first')

In [9]:
oh_enc=oh_en.fit_transform(df[['sex','smoker','day','time']])
oh_enc

array([[0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 1., 0., 0.],
       [1., 0., 0., 1., 0., 0.],
       ...,
       [1., 1., 1., 0., 0., 0.],
       [1., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.]])

In [10]:
df2_dummys.keys()

Index(['total_bill', 'tip', 'size', 'sex_Male', 'smoker_Yes', 'day_Sat',
       'day_Sun', 'day_Thur', 'time_Lunch'],
      dtype='object')

In [11]:
df3_oh_enc=pd.DataFrame(oh_enc,columns=['sex_Male', 'smoker_Yes', 'day_Sat',
       'day_Sun', 'day_Thur', 'time_Lunch'])
df3_oh_enc

     sex_Male  smoker_Yes  day_Sat  day_Sun  day_Thur  time_Lunch
0         0.0         0.0      0.0      1.0       0.0         0.0
1         1.0         0.0      0.0      1.0       0.0         0.0
2         1.0         0.0      0.0      1.0       0.0         0.0
3         1.0         0.0      0.0      1.0       0.0         0.0
4         0.0         0.0      0.0      1.0       0.0         0.0
..        ...         ...      ...      ...       ...         ...
239       1.0         0.0      1.0      0.0       0.0         0.0
240       0.0         1.0      1.0      0.0       0.0         0.0
241       1.0         1.0      1.0      0.0       0.0         0.0
242       1.0         0.0      1.0      0.0       0.0         0.0
243       0.0         0.0      0.0      0.0       1.0         0.0

[244 rows x 6 columns]